
h1#site-title {
  font-size: 48px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
color: darkolivegreen;
  font-family: Verdana;
}

h1#article-title {
 font-size: 28px;
 text-align: center;
}

h2#article-title {
  font-size: 28px;
  text-align: center;
}

h3#article-title {
  font-size: 28px;
  text-align: center;
}
  
p {
  color: #13174A;
  width: 75%;
  text-align: center;
  margin-left: 30px;
}

figure {
  width: 25%;
  border: 1px solid black;
  padding: 30px;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  margin-bottom: 12px;
  padding-bottom: 24px;
}

figure.main-image {
  display: grid;
  place-items: center;
  height: 600px;
  border: 1px solid black;
background: darkolivegreen;
border-color: darkolivegreen;
color: #fff;
}

figure.section-image {
margin-right: 32px;
max-width: 320px;
}

figure.section-image.even {
float: left;
margin-right: 20px;
}

p img {
  float: right;
  max-width: 25%;
  margin-left: 20px; 
  margin-bottom: 32px;
}

a {
  font-weight: bold;
  color: black;
}

nav ul {
  display:flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding-left: 0;
  border-top: 1px solid darkolivegreen;
  border-bottom: 1px solid darkolivegreen;
}

nav ul li {

}

nav ul li a {
  color: darkolivegreen;
  text-decoration: none;
  padding: 12px;
  border-bottom: 1px solid darkolivegreen;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border-bottom: 3px solid darkolivegreen; 
  padding-bottom: 9px;
}

footer#page-footer {
  padding: 32px 0;
  margin-top: 64px;
  text-align: center;
  border-top: 1 px solid darkolivegreen;
}
